h1 {
  color: #178bbf;
  text-align: center;
  font-size: 80px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Overpass", sans-serif;
}

h2 {
  color: #ffa726;
  text-align: center;
  margin-top: 0;
  padding-left: 20%;
  font-size: 50px;
}

img {
  display: block;
  margin: auto;
  height: 230px;
}
