div {
  display: flex;
}

div.results {
  flex-direction: row;
}

div.today {
  flex-direction: column;
  width: 47%;
  height: 100%;
}

div.today-info {
  flex-direction: column;
  border: #5a6275;
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 0 60px 0 0;
}

div.today-temp {
  display: flex;
  align-self: flex-end;
  max-height: 49%;
  font-size: 200px;
  font-weight: bold;
  color: #ffa726;
}

h2 {
  display: flex;
  align-self: flex-end;
  margin: 0 0 2px 0;
  font-size: 40px;
  padding: 0;
  text-transform: uppercase;
  color: #5a6275;
}

h3 {
  color: #178bbf;
  margin: 5px 0 0 20px;
  font-size: 45px;
  line-height: 40px;
}

div.last-update-time {
  flex-direction: column;
  color: #939aa9;
  margin: 15px 0 0 20px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
}

span.update-time-container {
  flex-direction: row;
}

div.forecast {
  flex-direction: column;
  justify-items: space-around;
  border: #5a6275;
  border-width: 0 0 0 1px;
  border-style: solid;
  margin-top: 35px;
  padding: 0 0 15px 15px;
}

div.forecast-info {
  display: row;
  align-items: center;
  border: #939aa9;
  background-color: #e3e9ee;
  border-width: 1px;
  border-radius: 65px;
  border-style: solid;
  width: 100%;
  min-width: 560px;
  margin: 10px 15px 0 20px;
}

img.weather-icons {
  height: 70px;
  max-height: fit-content;
  background-color: #178bbf;
  border-radius: 30px;
  margin: 10px 15px 10px 35px;
}

img.today-icon {
  max-width: 45px;
  max-height: 45px;
  background-color: #178bbf;
  border-radius: 20px;
  margin-left: 5px;
}

div.forecast-day-info {
  flex-direction: column;
  width: 53%;
  max-width: 55%;
}

h5 {
  color: #939aa9;
  margin: 0 0 5px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

span.symbol-max {
  color: #5a6275;
  font-size: 55px;
  font-weight: 500;
  margin-right: 3px;
}

span.symbol-min {
  color: #5a6275b5;
  font-size: 55px;
  font-weight: 500;
  margin-right: 3px;
}

div.forecast-weather-info,
div.forecast-humidity {
  color: #5a6275;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

div.forecast-temperature-max {
  color: #5a6275;
  font-size: 45px;
  font-weight: 500;
}

div.forecast-temperature-min {
  color: #5a6275b5;
  font-size: 45px;
  font-weight: 500;
}

span.switchTemp {
  font-size: 45px;
  margin: 60px 60px 0px 30px;
}

.forecast-weather-info span {
  padding-right: 3px;
}

.weather-info {
  color: #5a6275;
  margin: 5px 0 0 20px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.today-description-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.celsius {
  color: #ffa726;
  text-shadow: -3px 2px 3px #b9c1d3;
}

.celsius:hover {
  color: #939aa9;
  text-shadow: -3px 2px 3px #ffa726;
  cursor: pointer;
}

.fahrenheit {
  color: #939aa9;
  text-shadow: -3px 2px 3px #ffa726;
}

.fahrenheit:hover {
  color: #ffa726;
  text-shadow: -3px 2px 3px #b9c1d3;
  cursor: pointer;
}

#vertLine {
  font-size: 45px;
  justify-self: flex-start;
  color: #939aa9;
  margin-left: 6px;
  font-weight: 100;
}

.message-for-forecast-loading {
  color: #ffa726;
  font-size: 30px;
}
